@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

* {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: url('./images/image-front.png'), #242B2E;
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: top 100px center;
  font-family: 'Press Start 2P', cursive;
  margin: 2rem 0;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}


body h1 {
  text-align: center;
  font-size: 5rem;
  color: #207398;
  text-shadow: 10px 10px black;
  margin-bottom: 25px;
}

.message {
  position: absolute;
  top: 300px;
  background: #EDBF69;
  text-align: center;
  left: 10vw;
  right: 10vw;
  padding: 10px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #758283;
  display: none;
  z-index: 2;
}

.message.display {
  display: block;
}



/* Header */

.header {
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}


.currentscore, .start, .re-start  {
  border: none;
  outline: none;
  display: block;
  margin: 0;
  border-radius: 10px;
  text-align: center;
  background-color: #E03B8B;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-family: 'Orbitron', sans-serif;
}


.start {
  background-color: #53833b;
}

.re-start {
  background-color: #35BDD0;
}



.start:hover, .re-start:hover {
  cursor: pointer;
}

.hide {
  display: none;
}

/* game container */

#game-container {
  display: flex;
  width: 80%;
  margin: 1rem auto;
  justify-content: center;
  align-items: center;
}

.loading {
  width: 25%;
  height: 100%;
  object-fit: cover;
}

.loading.hide {
  display: none;
}

#game {
  display: flex;
  width: 65%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#game.hide {
  display: none;
}

.flipCard {
  border: none;
  border-radius: 15px;
  width: 90px;
  height: 90px;
  margin: 10px;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  background: #242B2E;
} 

.flipCard.flip {
  transform: rotateY(180deg);
}

.image-front, .image-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.image-front:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-back {
  transform: rotateY(180deg);
}

#lead-board {
  margin: 0 auto;
  width: 35%;
  text-align: center;
  border-radius: 10px;
  font-family: 'Noto Sans JP', sans-serif;
}

#lead-board button {
  margin: 0 auto;
}

.head-text {
  background-color: #758283;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.players {
  background-color: #FF6666;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 0 0 10px 10px;
  margin-bottom: 10px;
}

.player_info {
  color: #03203C;
  font-size: 2rem;
}


.players ol {
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.players ol li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #0D0D0D;
}

.players ol li .head {
  align-self: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  color: #50DBB4;
}

.score {
  margin: 0 auto;
}

/* game over */
#gameover.hide {
  display: none;
}

#gameover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  position: absolute;
  top: 20%;
  left: 27%;
  border: none;
  border-radius: 10px;
  padding: 5rem 5rem;
  background-color: #758283; 
}

#gameover > * {
  margin-bottom: 10px;
}

#gameover h3 {
  font-size: 3rem;
}

#gameover p {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.gameover-bestscore {
  color: #00BC40;
}

.gameover-currentscore {
  color: yellow;
}

#form {
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans JP', sans-serif;
  width: 100%;
  justify-content: center;
}

#form h5  {
  text-align: center;
}

#form h5 span {
  color: #e9c46a;
  font-size: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}


.form-group small {
  font-size: 0.8rem;
  visibility: hidden;
  color: #DE4839;
  margin-bottom: 5px;
}

.form-group small.error {
  visibility: visible;
}

input {
  padding: 5px;
  border: 1px solid #758283;
  outline: none;
  border-radius: 5px;
}

input.success {
  border-color: green;
}

input.error {
  border-color: red;
}

.btn {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #e9c46a;
  color: #242B2E;
  font-weight: bold;
}

.btn.playagain {
  margin-top: 10px;
  background-color: #FF6263;
}


/* @media screen and (min-width: 1101px) {
  .text {
    display: block;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
} */

@media (max-width: 1128px) {
  body {
    font-family: 'Press Start 2P', cursive;
    margin: 2rem 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
  }

  body h1 {
    font-size: 3rem;
    text-shadow: 5px 5px black;
  }

  .header {
    width: 100%;
    flex-direction: column;
  }

  .header > * {
    margin-bottom: 10px;
  }

  .flipCard {
    width: 60px;
    height: 60px;
  }

  #game-container {
    width: 90%;
    flex-direction: column-reverse;
  }

  #lead-board {
    width: 100%;
  }

  #game {
    width: 100%;
  }
  

  #game {
    flex-wrap: wrap;
    width: 100%;
    margin: 1rem auto;
  }

  #gameover {
    top: 20vh;
    left: 10vw;
    right: 10vw;
    padding: 2.5rem 2.5rem;
  }

  #gameover h3 {
    font-size: 1rem;
  }
  
}

@media screen and (max-width: 300px) {
  #game-container {
    width: 100%;
  }
}